@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    
    margin: 0;
}
main{
    width: 100%;
    height: 100%;
}
/*Меню*/

nav{
    position: absolute;
    z-index: 2;
    left:5%;
    top:50%;
    
    transform:translateY(-45%);
}

ul{
    margin: 0;
    
    list-style: none;
    
    
    font-size:6rem;
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    text-align: center;
    line-height: 1.5;
    
    perspective: 500px;
}
ul:hover li{
    filter: blur(5px);
}
li{
    filter: blur(0.7px);
    opacity: 0.7;
    
    transform: rotateY(25deg);
    transition: all .2s linear;
}
.menu:hover{
    opacity: 1;
    filter: blur(0);
    transform: scale(1.2);
}
a{
    text-decoration: none;
    color: white;
}
a:active{
    opacity: 0.7;
}

/*Фон*/

.the_background{
    position: absolute;
    z-index: 1;
    
    width: 100vw;
    height: 100vh;
    
    background-image: url(../img/wallpaper.jpg);
    background-size: cover;
    
    animation: motion_background 240s;
    animation-iteration-count: infinite;
    transform-origin: left;
}
@keyframes motion_background{
    0%{
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform-origin: right;
    }
}
